@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer utilities {
  .my-container {
    @apply w-full max-w-7xl mx-auto px-5 py-3;
  }
}

body::-webkit-scrollbar {
  width: 5px;
  @apply bg-transparent;
}
body::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}

.slick-dots.slick-thumb > li {
  @apply !w-20 h-16 p-2 border border-medium-gray rounded-xl flex justify-center items-center;
}
.slick-dots.slick-thumb > li > a > img {
  @apply h-10;
}

.slick-dots {
  @apply !bottom-0;
}

.slick-list {
  @apply h-[calc(100%-100px)];
}
.slick-track {
  @apply h-full;
}

.slick-slide > div > div {
  @apply py-0 outline-none h-full;
}
.slick-slide > div > div > img {
  @apply w-64;
}
.slick-slide {
  @apply !flex justify-center items-center h-full;
}

.btn {
  @apply rounded-[10px] py-3 px-14 bg-bright-green shadow-product-card-shadow flex justify-center items-center text-white;
}

.icon-btn {
  @apply rounded-full w-30 h-30 bg-white/50 flex justify-center items-center;
}

.gradient {
  /* background: linear-gradient(top left, rgb(0 198 94), rgb(248 147 88)); */
  background: radial-gradient(
    circle at 100% 100%,
    rgba(255, 255, 255, 1) 5%,
    rgba(0, 198, 94, 1) 40%
  );
}

.sceleton-animation {
  background: #ddd;
  animation: sceleton 500ms infinite linear;
}

@keyframes sceleton {
  0% {
    background: #eee;
  }
  50% {
    background: #ddd;
  }
  100% {
    background: #eee;
  }
}
